<div class="body">
  <div class="animation-box">
    <div class="animation-child">
      <div
        class="animation-left"
        data-aos="zoom-in-right"
        data-aos-duration="1500"
      >
        <div class="language1">
          <div class="skills-title">
            <h2>Languages</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="Java" alt="java"></div>
              <div class="skill-name">Java</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="CandC" alt="CandC"></div>
              <div class="skill-name">C and C++</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="python" alt="python"></div>
              <div class="skill-name">Python</div>
            </div>
          </div>
        </div>

        <div class="language2">
          <div class="skills-title">
            <h2>version control</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="git" alt="git"></div>
              <div class="skill-name">git</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="github" alt="github"></div>
              <div class="skill-name">Github</div>
            </div>
          </div>
        </div>

        <div class="language2">
          <div class="skills-title">
            <h2>Frame Works</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="angular" alt="angular"></div>
              <div class="skill-name">Angular</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="react" alt="react"></div>
              <div class="skill-name">React</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="animation-child">
      <div
        class="animation-right"
        data-aos="zoom-in-right"
        data-aos-duration="1500"
      >
        <div class="language1">
          <div class="skills-title">
            <h2>Front end</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="html" alt="html"></div>
              <div class="skill-name">Html</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="css" alt="css"></div>
              <div class="skill-name">CSS</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="javascript" alt="javascript"></div>
              <div class="skill-name">Javascript</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="typescript" alt="typescript"></div>
              <div class="skill-name">TypeScript</div>
            </div>
          </div>
        </div>

        <div class="language2">
          <div class="skills-title">
            <h2>Back end</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="nodejs" alt="nodejs"></div>
              <div class="skill-name">NodeJs</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="php" alt="php"></div>
              <div class="skill-name">PHP</div>
            </div>
          </div>
        </div>

        <div class="language2">
          <div class="skills-title">
            <h2>Database</h2>
          </div>
          <div class="skills-languages">
            <div class="skill-container">
              <div class="image"><img [src]="mysql" alt="mysql"></div>
              <div class="skill-name">Mysql</div>
            </div>
            <div class="skill-container">
              <div class="image"><img [src]="mongodb" alt="mongodb"></div>
              <div class="skill-name">MongoDB</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
