<div class="body-proj">
  <div class="animation-box">
    
    <div class="animation-child">
      <a href="https://rich-plum-fish-gear.cyclic.app/">
        <div class="animation-right" data-aos="flip-up" data-aos-delay="320">
          <div class="img">
            <img [src]="Amezon" alt="amezon" />
          </div>
          <div class="content">
            <h2>Amazon clone</h2>
            <p>Cloned MERN project made with react-redux.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://balagowda-yt-clone.web.app/">
        <div
          class="animation-right"
          data-aos="flip-right"
          data-aos-delay="300"
        >
          <div class="img">
            <img [src]="Youtube" alt="youtube" />
          </div>
          <div class="content">
            <h2>Youtube clone</h2>
            <p>Clone project made with react-redux and firebase</p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://github.com/balagowda/Weather-App-React">
        <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
          <div class="img">
            <img [src]="Weather" alt="Weather" />
          </div>
          <div class="content">
            <h2>Weather Application</h2>
            <p>
              React-weather app gives temperature details of city.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://github.com/balagowda/Client-Server-web-application">
        <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
          <div class="img">
            <img [src]="Student" alt="student" />
          </div>
          <div class="content">
            <h2>Student App</h2>
            <p>
              MERN app with CRUD operation for student details.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://balagowda.github.io/host-myProfile/">
        <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
          <div class="img">
            <img [src]="Portfolio" alt="portfolio" />
          </div>
          <div class="content">
            <h2>Personal website</h2>
            <p>
              Portfolio website using Angular framework
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://balagowda-todo-list.web.app/">
        <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
          <div class="img">
            <img [src]="Todo" alt="todo" />
          </div>
          <div class="content">
            <h2>Todo List</h2>
            <p>
              Todo react-redux app implemented with firebase
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="animation-child">
      <a href="https://github.com/balagowda/sql-dynamic-table">
        <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
          <div class="img">
            <img [src]="Table" alt="table" />
          </div>
          <div class="content">
            <h2>Table generator</h2>
            <p>
              Dynamic Sql table generator back-end app.
            </p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
