* {
  color: white;
}

.body-proj {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(25deg, #0d1137, #077b8a);
  background: -webkit-linear-gradient(to left, #b8bbf2, #1fbfb8);
}

.animation-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.animation-child {
  width: 80%;
  height: 100%;
  flex-basis: calc(33.33% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-right {
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 2px #fff;
  background: linear-gradient(35deg, #0d1137, #077b8a);
}

.img {
  position: relative;
  width: 100%;
  height: 65%;
  border-radius: 0 0 30px 30px;
}

.img img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  opacity: 0.6;
}

.content {
  position: relative;
  width: 100%;
  height: 35%;
}

.content h2 {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.content p {
  padding: 5px;
  margin: 3px;
  font-size: 20px;
  color: #1fbfb8;
}

@media screen and (max-width: 600px) {

  .body-proj{
    height: auto;
    box-sizing: border-box;
  }

  .animation-box {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .animation-child {
    height: 90%;
    width: 100%;
  }

  .animation-child a{
    cursor: pointer;
  }

  .animation-right {
    width: 340px;
    height: 330px;
    margin: 0 auto;
  }

  .content h2 {
    font-size: 25px;
    padding: 3px;
  }

  .content p {
    color: #1fbfb8;
    font-size: 18px;
  }
}

a{
  text-decoration: none;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .body-proj {
    height: auto;
  }

  .animation-child {
    height: 80%;
    width: 100%;
    overflow: hidden;
  }

  .animation-box {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .animation-right {
    width: 530px;
    height: 480px;
    margin: 0 auto;
  }

  .content h2{
    font-size: 2.5rem;
  }

  .content p {
    color: #1fbfb8;
    font-size: 30px;
  }
}

/* @media (min-width: 992px) and (max-width: 1200px) {
  .content h2 {
    font-size: 22px;
  }

  .content h3 {
    color: black;
    font-size: 20px;
  }

  .content p {
    color: #1fbfb8;
    font-size: 16px;
  }

  .animation-box {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .animation-child {
    height: 80%;
    width: 100%;
    background-color: #b8bbf2;
    position: relative;
  }

  .animation-left,
  .animation-middle,
  .animation-right {
    width: 80%;
    height: 90%;
  }

} */

@media screen and (max-width: 380px) {
  .content h2 {
    font-size: 15px;
  }

  .animation-right {
    width: 290px;
    height: 270px;
    margin: 0 auto;
  }

  .content p {
    color: #1fbfb8;
    font-size: 12px;
  }

}
